from forgeapi import BaseSchema, BaseCreateSchema, BaseUpdateSchema


class {{ class_name }}Schema(BaseSchema):
    pass


class {{ class_name }}CreateSchema(BaseCreateSchema):
    pass


class {{ class_name }}UpdateSchema(BaseUpdateSchema):
    pass
